/* 
font-family: 'Archivo Narrow', sans-serif;
font-family: 'Roboto', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

header {
    background: url(img/banner-bg.jpg) no-repeat center center / cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 8px 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

/* nav css */

.nav-link {
    color: #fff;
    font-weight: 700;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: #87d37c;
}

.nav-link:focus,
.nav-link:hover {
    color: #87d37c;
}

/* slider css */

.slider-content {
    padding: 180px 0;
}

.slider-content h3,
h1 {
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.slider-content h3 {
    font-size: 36px;
    color: #fff;
}

.slider-content h1 {
    font-size: 100px;
    color: #fefbfc;
    border: 2px solid #fefbfc;
    display: inline-block;
    padding: 12px 30px;

}

.slider-content h1 span {
    color: #87d37c;
}

.slider-content h4 {
    font-size: 36px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.carousel-indicators [data-bs-target] {

    width: 30px;
    height: 30px;
    background-color: #18f58e;
    border-radius: 50%;

}

.section-title h2 {
    font-size: 36px;
    font-weight: 700;
    font-family: 'Archivo Narrow', sans-serif;
    text-transform: uppercase;
}

.section-title p {
    font-size: 18px;
    max-width: 830px;
    margin: 0 auto;
}

/* about css */


.about-icon i {
    font-size: 60px;
}

.about-meta h3 {
    font-size: 36px;
}

.about-meta p {
    text-align: justify;
}

.about-icon i {
    font-size: 60px;
    transition: .4s;
}

.about-meta h3 {
    font-size: 24px;
    transition: .4s;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.about-meta p {
    text-align: justify;
}

.about-item {
    margin-bottom: 20px;
}


.about-item:hover .about-icon i {
    color: #87d37c
}

.about-item:hover .about-meta h3 {
    color: #87d37c
}

.section-padding {
    padding: 60px 0;
}

/* service section css */
#service {
    background: #e1e1e1;
}

.single-service {
    position: relative;
    overflow: hidden;
}

.service-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #0000008c;
    bottom: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    transition: .5s;
}

.service-overlay a {
    color: #fff;
    font-size: 20px;
    height: 60px;
    width: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-overlay a:hover {
    background: #87d37c;
    border: 1px solid #87d37c;
}

.single-service:hover .service-overlay {
    bottom: 0;
}

/* portfolio-section css */
.portfolio-item {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    bottom: -100%;
    transition: .5s;
}

.portfolio-item:hover .portfolio-overlay {
    bottom: 0;
}

/* pricing card css */
.pricing-card {
    background: #39393a;
    padding: 20px 50px;
    border-radius: 6px;
    color: #fff;
    text-align: center;
    transition: .5s;
}

.pricing-card-header {
    border: 3px solid #fff;
    height: 160px;
    width: 160px;
    margin: 14px auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .5s;

}

.pricing-card-header h1 {
    font-size: 29px;
    font-family: 'Oswald', sans-serif;
}

.pricing-card-header h4 {
    font-size: 19px;
    font-family: 'Oswald', sans-serif;
}

.pricing-card-body ul {
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 140px;
    margin: 0 auto;
}

.pricing-card-body ul li {
    border-bottom: 1px solid #fff;
    margin-bottom: 28px;
    font-family: 'Lato', sans-serif;
}

.btn-order {
    display: inline-block;
    background: #fff;
    padding: 12px 28px;
    font-size: 16px;
    color: #39393a;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    transition: .5s;
}

.pricing-card:hover {
    background: #87d37c;
}

.pricing-card:hover .pricing-card-header {
    background: #fff;
    color: #39393a !important;
}

.pricing-card:hover .btn-order {
    color: #87d37c;
}
#counter-area{
    /* background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/counter-bg.jpg) no-repeat center center / cover; */
    background: url(img/counter-bg.jpg) no-repeat center center / cover;;
    padding: 60px 0;
    position: relative;
    z-index: 1;
    
}
#counter-area::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background: rgba(0,0,0,0.7);
    bottom: 0;
    z-index: -1;
}
.single-counter {
    border: 2px solid #fff;
    text-align: center;
    color: #fff;
    padding: 4px 12px;
}

.single-counter h1 {
    font-size: 72px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.single-counter h4 {
    font-size: 28px;
}
button.btn-submit {
    border: none;
    display: inline-block;
    background: #87d37c;
    color: #fff;
    padding: 10px 20px;
    font-weight: 700;
    text-transform: uppercase;
}

#googleMap{
    width: 100%;
    height: 470px;
}
footer {
    background: #000101;
    padding: 10px 0;
}


.contact-form-area{
    background: #f4f4f4;
    padding-top: 50px;
    padding-bottom: 20px;
}


footer p {
    color: #fff;
    text-align: center;
}
.social-link {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    /* color: #fff; */
}

.social-link a {
    color: #fff;
    font-size: 20px;
}
/* font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif; */